<h1>Eventos</h1>
<span ng-class="{'glyphicon glyphicon-refresh glyphicon-refresh-animate': isActive}"></span>
<div ng-show="!isActive">

    <pagination total-items="eventos.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="10"></pagination>
    
  <table class="table table-striped">
    <thead><tr>
      <th>Tipo</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>Tipo de Reselling</th>
      <th>Cantidad de Reselling</th>
    </tr></thead>
    <tbody><tr ng-repeat="evento in filteredEventos">
      <td>{{ evento.tipo.description }}</td>
      <td>{{ evento.origen.name }}</td>
      <td>{{ evento.destino.name }}</td>
      <td>{{ evento.reselling.tipo.description }}</td>
      <td>{{ evento.reselling.cantidad }}</td>
    </tr></tbody>
  </table>



</div>
