<div ng-show="mensajeBD" class="alert alert-success alert-dismissible" role="alert" ng-bind='mensajeBD'></div>
<div ng-show="mensajeBDError" class="alert alert-danger alert-dismissible" role="alert" ng-bind='mensajeBDError'></div>
<a class="btn btn-large btn-success has-spinner" ng-class="{'active': isActive1}" ng-click="procesarTodasLasVentas()">
	<span ng-class="{'glyphicon glyphicon-refresh glyphicon-refresh-animate': isActive1}"></span>
   Procesar Ventas
</a>

</br>
</br>

<a class="btn btn-large btn-success has-spinner" ng-class="{'active': isActive3}" ng-click="fechaUlimaVentaEnBD()">
	<span ng-class="{'glyphicon glyphicon-refresh glyphicon-refresh-animate': isActive3}"></span>
   Ver fecha y ID de última Venta registrada en la Base de Datos
</a>

</br>
Fecha: 
<h2 ng-bind='ultimaFecha'></h2>
</br>
 ID: 
<h2 ng-bind='ultimoID'></h2>

</br>
</br>

<a class="btn btn-large btn-success has-spinner" ng-class="{'active': isActive4}" ng-click="cantidadDeVentas()">
	<span ng-class="{'glyphicon glyphicon-refresh glyphicon-refresh-animate': isActive4}"></span>
   Ver cantidad de Ventas guardadas en la Base de Datos 
</a>

<h2 ng-bind='cant'></h2>

