<h1>Ventas</h1>


<span ng-class="{'glyphicon glyphicon-refresh glyphicon-refresh-animate': isActive}"></span>
<div ng-show="!isActive">
  <table class="table table-striped">
    <thead><tr>
      <th>Detalle:</th>
      <th>ID:</th>
      <th>Estado:</th>
      <th>Fecha:</th>
    </tr></thead>
    <tbody><tr ng-repeat="venta in filteredVentas">
      <td>

        <a class="btn" href="/detalleVenta" ng-click="verDetalle(venta)">
          <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Ver Detalles
        </a>
      </td>
      <td>{{ venta.id }}</td>
      <td>{{ venta.status }}</td>
      <td>{{ venta.date_last_updated }}</td>
    </tr></tbody>
  </table>
    <div data-pagination="" data-num-pages="numPages()" 
        data-current-page="currentPage" data-max-size="maxSize"  
        data-boundary-links="true"></div> 

</div>
