
<ul  class="nav nav-list" ng-show="padreVisible">
    <li ng-repeat="a in padre">

    <div ng-if="a[0] == undefined">
        <label class="nav-header black expansion" ng-click="visible=!visible">
          <span ng-show="!visible" class="glyphicon glyphicon-plus-sign"></span>
          <span ng-show="visible" class="glyphicon glyphicon-minus-sign"></span>          
        </label>

        <label  id="cat_{{a.id}}"  class="nav-header black title link" ng-click="doClick(a);" ng-class="{'origen': selected.id == a.id, 'destino': destinoId == a.id}">
          {{a.name}}
          <span class="badge">{{a.children.length}}</span>
        </label>

        <div ng-if="a.children.length > 0">
          <category padre="a.children" padre-visible="visible" callback-modal="callbackModal" selected="selected"></category>
        </div>

    </div>

    <label  id="cat_{{prod.id}}"  ng-if="a.length > 0" ng-repeat="prod in a" class="nav-header black title link" ng-click="doClick(prod);" ng-class="{'origen': selected.id == prod.id, 'destino': destinoId == prod.id}}">
      {{prod.name}}
    </label>

    </li>
</ul>